include LICENSE
include README.md
include pytest.ini
include requirements-audit.txt
include requirements.txt
include requirements-dev.txt
include requirements-lock.txt
recursive-include amp *.json
recursive-include docs *.md
recursive-include tests/fixtures *.json
recursive-include tools *.py
